//boostrap import
@import "bootstrap/bootstrap-grid";

//Vars scss import
@import "scss/_var";

//globals
@import "scss/fonts";
@import "scss/global";



//Global elements import
@import "scss/menu";

//Pages scss import
@import "scss/_home";

//Components scss import
@import "components/productListv1";