.xb-btn{
    width: 100%;
    height: 35px;
    font-size: .95vw;
    margin: 0.3vw auto 0.5vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1.38px;
    text-decoration: none !important;
    &.xb-btn1{
        color: $black;
        background-color: $transparent;
        border: 1px solid $black;
        &.black{
            &:hover{
                background-color: $black;
                color: $white;
            }
        }
    }
    &.xb-btn2{
        color: $color2;
        background-color: $transparent;
        border: 1px solid $color2;
        &.black{
            &:hover{
                background-color: $color2;
                color: $white;
            }
        }
        &.white{
            border: 1px solid $white !important;
            &:hover{
                background-color: $white;
                color: $color2;
            }
        }
    }
}