$white: #fff;
$dark: #1b1b1b;


$color1: #2b383e;
$color2: #f69576;
$color2t: #f6967699;
$color3: #656565;
$color4: #00cc00;
$transparent: rgba(0,0,0,0);

//Fonts
$primary-font: 'xb Primary';
$primary-font-medium: 'xb Primary medium';
$primary-font-light: 'xb Primary light';
$secondary-font: 'xb Secondary';
$thirty-font: 'xb Thirty';
$secondary-font2: 'Georgia,"Times New Roman",Times,serif';
