/* Simple Paragraph */
.simpleParagraph{
    width: 100%;
    font-family: $primary-font;
    position: relative;
    &.type1{
        margin: 15px auto;
        width: 75%;
        text-align: center;
        p{
            font-family: $primary-font-light;
        }
        .xb-btn{
            width: 200px;
            margin: auto;
            border: 0.2px solid $color1;
            border-radius: 10px;
            font-size: 14px;
            font-family: $primary-font-light;
            font-weight: 200;
        }
    }
    &.type2{
        text-align: left;
    }
    &.type3{
        text-align: right;
    }
}

/* Blog List Design */
.blogList{
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    &.type1{
        display: block;
        width: 100%;
        .blogList-cont{
            width: 95%;
            margin: auto;
            position: relative;
            margin-left: 5%;          
            .blogItem{
                width: 70%;
                position: relative;
                height: 620px;
                float: left;
                a{
                    text-decoration: none;
                    color: $color1;
                    padding: 0;
                    margin: 0;
                    img{
                        width: 100%;
                        height: 100%;
                        transition: transform 0.3s ease;
                    }
                    .blogData{
                        position: absolute;
                        top: 10px;
                        left: 25px;
                        .blogHl, 
                        .blogSum, 
                        .blogUrl{
                            margin: 0;
                            padding: 0;
                        }
                        .blogHl{
                            font-size: 18px;
                            color: $color2;
                            font-weight: 700;
                        }
                        .blogSum{
                            font-size: 16px;
                            color: $color1;
                            font-family: $primary-font-light;
                        }
                        .blogUrl{
                            font-size: 14px;
                            color: $color1;
                        }
                    }
                    &:hover{
                        img{
                            transform: scale(1.01);
                        }
                    }
                }
                &:not(:first-child){
                    width: 25%;
                    height: 200px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                }
            }
        }
        .xb-btn{
            width: 400px;
            margin: auto;
            text-align: center;

        }
    }
}

/* Email signup newsletter */
.emailNewsletter{
    width: 100%;
    background-color: $color2;
    position: relative;
    display: block;
    padding: 15px;
    .container{
        margin: 20px;
        .newsletterForm{
            width: 60%;
            margin: auto;
            .newsletterForm-cont{
                display: flex;
                flex-direction: row;
                // margin:10px;
                // align-items: center;
                // flex-wrap: nowrap;
                // justify-content: space-around;
                .newsletterFormHl{
                    font-family: $secondary-font2;
                    float: left;
                    width: 25%;
                    font-size: 24px;
                    font-weight: 600;
                    color: $white;
                }
                .emailInput{
                    float: left;
                    width: 60%;
                    margin-right: 15px;
                    .newsletterFormInput{
                        outline: none;
                        border: 0px;
                        line-height: 1.2;
                        font-size: 14px;
                        padding: 10px;
                        width: 100%;
                        text-transform: none;
                    }
                }
                .sendBtn{
                    width: 100px;
                    font-size: 16px;
                    font-family: $secondary-font2;
                    border: 1px solid $white;
                    color: $white;
                    border-radius: 0 10px;
                    &:hover{
                        background-color: $white;
                        color: $color2;
                    }
                }
            }
        }
        .newsletterFormTxt{
            font-size: 12px;
            font-family: $secondary-font;
            text-align: justify;
        }
    }
}

.auraCopyRight{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $color1;
    color: $white;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
        color: $white;
        text-align: center;
        text-decoration: none;
        span{
            color: $color2;
            font-weight: 900;
        }
    }
}