.main-banner{
    position: relative;
    margin-bottom: 0.7vw;
    .main-banner-container{
        font-size: 0;
        height: auto;
        position: relative;
        img{
            width: 100%;
        }
        .main-banner-ticket{
            max-width: 370px;
            max-height: 210px;
            color: $white;
            background-color: $color2;
            position: absolute;
            display: flex;
            width: 370px;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: #fff;
            font-size: calc(7px + .3vw);
            font-weight: 900 !important;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-align: center;
            z-index: 20;
            font-family: "Nunito Sans Black",sans-serif;
            letter-spacing: 2px;
            height: 4em;
            line-height: 100%;
            min-height: 3%;
            align-items: center;
            justify-content: center;
            &::before{
                content: "";
                display: block;
                padding-top: 100%;
            }
            &.left-ticket{
                left: -107px;
                top: 54px;
                transform: rotate(-45deg);
            }
            &.right-ticket{
                right: -107px;
                top: 54px;
                transform: rotate(-320deg);
            }
        }
        .main-banner-text-container{
            top: 300px;
            background-color: rgba(0,0,0,0);
            position: absolute;
            text-align: center;
            box-sizing: border-box;
            min-width: 280px;
            font-size: 18px;
            font-weight: normal;
            width: 50%;
            font-family: Nunito Sans,sans-serif;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            img{
                max-width: 100%;
                margin: 0px 25%;
                width: 47.5%;
            }
            .main-banner-btn{
                position: relative !important;
                max-width: 300px !important;
                margin-top: 10px;
            }
            &.left{
                right: 30%;
            }
            &.right{
                left: 75%;
            }
            &.center{
                right: 50%;
                left: 50%;
            }
        }
    }
}

.fw-banner{
    font-family: $primary-font-light;
    width: 100%;
    background-image: url("https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/wide-section-full-scaled.webp") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    .text-container{
        position: relative;
        width: 25%;
        height: auto;
        top: 30%;
        &.left{
            left: 50px;
        }
        &.right{
            margin-left: auto;
            margin-right: 0px;
            right: 200px;
        }
        &.center{
            margin: auto;
            right: unset;
        }
        &.txt-left{
            text-align: left;
        }
        &.txt-right{
            text-align: right;
        }
        &.txt-center{
            text-align: center;
        }
        &.txt-white{
            color: $white !important;
        }
        &.txt-dark{
            color: $dark !important;
        }
        &.txt-cl1{
            color: $color1 !important;
        }
        &.txt-cl2{
            color: $color2 !important;
        }
        &.txt-cl3{
            color: $color3 !important;
        }
        h2{
            font-family: $primary-font-medium;
        }
        .xb-btn{
            width: 75%;
            border-radius: 20px;
        }
    }
}