.xb-ListOne{
    background-color: $color2;
    position: relative;
    width: 100%;
    color: $white;
    h3{
        padding: 10px;
        font-family: $primary-font-medium;
        text-align: center;
        font-weight: 700;
        width: 100%
    }
    .xb-ListOneCont{
        display: flex;
        .columnItem{
            display: block;
            flex: 1;
            float: left;
            width: 100%;
            margin: auto;
            img{
                width: 100%;
            }
        } 
    }
}